<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864824869771-060nfc2trbc0p1rnakrni1f4j4osigni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864824869771-060nfc2trbc0p1rnakrni1f4j4osigni</string>
	<key>API_KEY</key>
	<string>AIzaSyDjmyT5BH-6kyTZX7v63qyjyxOPuKEcX18</string>
	<key>GCM_SENDER_ID</key>
	<string>864824869771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.cpp.cs4750.idiaz.project.fomoApp</string>
	<key>PROJECT_ID</key>
	<string>cs4750-fomo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cs4750-fomo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864824869771:ios:dd9fc5a77c456e03ca258e</string>
</dict>
</plist>